.container-contact {
    display: grid;
    grid-template-rows: 12% 12% 75%;
    overflow: hidden;
    background-color: #10409B;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.brand-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #10409B;
    height: 5rem;
}

.brand-contact img {
    height: 4rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.5rem;
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(134, 131, 131, 0.693);
    width: 0.1rem;
    border-radius: 1rem;

}

.contact {
    background-color: #144BA9;
    height: 7vh;
    width: 90%;
    cursor: pointer;
    border-radius: 0.2rem;
    gap: 0.8rem;
    align-items: center;
    display: flex;
    transition: 0.5s ease-in-out;
    padding: 0.4rem;
}
.contacts .selected {
    background-color: #093187;
}
.contacts .selected h3{
    color: white;
}

.avatar img {
    height: 3rem;
}

.username h3 {
    margin: 0;
    color: white;
    text-transform: capitalize;
}

.current-user {
    background-color: #182229;
    display: flex;
    justify-content: space-around;
    padding-left: 1vh;
    align-items: center;
    height: 10vh;
}
.current-user h2{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: sans-serif;
    padding-left: 1rem;
}

.current-user .avatar img {
    height: 4rem;
    max-inline-size: 100%;
}


